2016.csv
2017.csv.gz
county-codes.csv
filtered-2016.csv
filtered-2017.csv
filtered-1-2017.csv
filtered-stations.csv
for-mysql-import-2017.csv
filtered-US009052008-2016.csv
final-version-2016.csv
fixing-missing-data.csv
ghcnd-stations.txt
limited-field-stations.csv
new-ghcnd.csv
new-lat-long.csv
new-lat-long.csv.csv
reduce-data-sets-2016.csv
reduce-data-sets-2017.csv
refine_data_county.csv
refine_data_county_1.csv
restructured-2016.csv
restructured-2017.csv
stations-with-fips-1.csv
stations-with-fips.csv
with-lat-long-2016.csv
with-lat-long-2017.csv
.idea
xx.csv
__pycache__/
penv/